@tailwind base;
  @tailwind components;
  @tailwind utilities;
  


  .backgroundlayer{
    background: linear-gradient(90deg, #222C68 0%, #1D5B9E 100%);

  }

  .buttongradient{
    background: linear-gradient(90deg, #1E6FFF 0%, #005CFF 100%);

  }

  .boxshadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }


  .loader {
    width: 48px;
    height: 48px;
    border: 5px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader2 {
    width: 24px;
    height: 24px;
    border: 5px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 